/* CONTACTO */

.contact-container {
    background: url('../images/Contacto-2.jpeg') center center/cover no-repeat; 
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    position: relative;
    top: -90px;  
}

.cont-form{
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

.infocontacto {
    color: white;
    font-size: 20px!important;
    padding-bottom: 30px;
    padding-top: 60px;
}

.infocontacto h3{
    font-size: 18px;
}

.infocontacto p{
    font-size: 18px;
}

.contcontacto{
    margin-bottom: 40px;
    padding: 0;
}

.btn-submit{
    background-color: #475F5F;
}

.btn-submit:hover{
    background-color:#FC9F65;
    color:#504e4e;

}
.titulocontacto{

    font-weight: 400;
    text-shadow: none;
    font-size: 40px;
    letter-spacing: 5px;
}

.contenedortitulo{
    color: white;
    margin-top: 100px;
    padding: 0;

}


.contenedortitulo h1{
    padding-top: 10px;
}

.contenedortitulo p{
    font-size: 18px;
    padding: 15px;
}

.mapa {
  display: flex;
  justify-content: center;
  align-items: center;

}



textarea{
    height: 200px!important;
}


.error{
    font-size: 16px;
    text-align: center;
    background-color:#475F5F;
    color:#FC9F65;
    padding: 20px;
}


.correcto{
    font-size: 16px;
    text-align: center;
    background-color:#475F5F;
    color: white;
    padding: 20px;
    text-transform: uppercase;
}


@media (max-width: 780px) {

    .infocontacto{
        text-align: center;
    }
    .datoscontacto{
        display: none;
    }
    .contbutton{
        text-align: center;
    }

}

.row span{
    color: rgb(255, 153, 0);

}